 /* 
    about-1-start
 */

.ftc-about-1 {

    &-area {
        padding-top: 220px;
        padding-bottom: 180px;
        position: relative;
        z-index: 1;
    }

    &-bg-shape-1 {
        display: inline-block;
        width: 500px;
        height: 500px;
        background: var(--ftc-pr-1);
        border-radius: 50%;
        filter: blur(100px);
        opacity: .2;
        position: absolute;
        left: -60px;
        top: -60px;
        z-index: -1;
    }
    &-bg-shape-2 {
        display: inline-block;
        width: 500px;
        height: 500px;
        background: var(--ftc-pr-1);
        border-radius: 50%;
        filter: blur(100px);
        opacity: .2;
        position: absolute;
        right: -60px;
        bottom: 0px;
        z-index: -1;
    }

    &-row {
        display: grid;
        grid-template-columns: 2fr .6fr;
        gap: 50px 60px;

        @media #{$xl,$lg} {
            gap: 50px 30px;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        .left {
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            gap: 80px 60px;



            @media #{$xl} {
                gap: 80px 30px;
            }

            @media #{$lg} {
                gap: 80px 30px;
                grid-template-columns: 1fr 1.5fr;
            }

            @media #{$md} {
                gap: 80px 30px;
            }

            @media #{$xs} {
                grid-template-columns: 1fr;
                gap: 50px 60px;
            }
        }
    }

    &-img-2 {
        border-radius: 150px;

        @media #{$md,$xs} {
            height: 570px;

            img {
                object-position: top;
            }
        }
    }

    &-counter-item {
        .span-line {
            width: 0%;
            height: 2px;
            background-color: var(--ftc-heading-1);
            transition: 2s var(--cube-1);
        }
        .number {
            font-size: 60px;
            margin-bottom: 0px;

            @media #{$lg,$md,$xs} {
                font-size: 50px;
            }
        }
        .item-disc {
            font-weight: 700;
            max-width: 250px;
            line-height: 1.2;

        }

        &:is(.active) {
            .span-line {
                width: 100%;
            }
        }
    }
}

 /* 
    about-1-end
 */