 /* 
    about-1-start
 */

.ftc-about-1 {

    &-area {
        padding-top: 220px;
        padding-bottom: 180px;
        position: relative;
        z-index: 1;
    }

    &-bg-shape-1 {
        display: inline-block;
        width: 500px;
        height: 500px;
        background: var(--ftc-pr-1);
        border-radius: 50%;
        filter: blur(100px);
        opacity: .2;
        position: absolute;
        left: -60px;
        top: -60px;
        z-index: -1;
    }
    &-bg-shape-2 {
        display: inline-block;
        width: 500px;
        height: 500px;
        background: var(--ftc-pr-1);
        border-radius: 50%;
        filter: blur(100px);
        opacity: .2;
        position: absolute;
        right: -60px;
        bottom: 0px;
        z-index: -1;
    }

    &-row {
        display: grid;
        grid-template-columns: 2fr .6fr;
        gap: 50px 60px;

        @media #{$xl,$lg} {
            gap: 50px 30px;
        }

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        .left {
            display: grid;
            grid-template-columns: 1fr 1.2fr;
            gap: 80px 60px;



            @media #{$xl} {
                gap: 80px 30px;
            }

            @media #{$lg} {
                gap: 80px 30px;
                grid-template-columns: 1fr 1.5fr;
            }

            @media #{$md} {
                gap: 80px 30px;
            }

            @media #{$xs} {
                grid-template-columns: 1fr;
                gap: 50px 60px;
            }
        }
    }

    &-img-2 {
        border-radius: 150px;

        @media #{$md,$xs} {
            height: 570px;

            img {
                object-position: top;
            }
        }
    }

    &-counter-item {
        .span-line {
            width: 0%;
            height: 2px;
            background-color: var(--ftc-heading-1);
            transition: 2s var(--cube-1);
        }
        .number {
            font-size: 60px;
            margin-bottom: 0px;

            @media #{$lg,$md,$xs} {
                font-size: 50px;
            }
        }
        .item-disc {
            font-weight: 700;
            max-width: 250px;
            line-height: 1.2;

        }

        &:is(.active) {
            .span-line {
                width: 100%;
            }
        }
    }
}

 /* 
    about-1-end
 */

 /* 
    about-3-start
 */
.ftc-about-3 {
    &-area {
        background-color: #E6E9F2;
    }
    
    &-row {
        display: grid;
        grid-template-columns: .9fr 1fr;
        gap: 35px;
        margin-right: -70px;

        @media #{$xxl,$xl} {
            margin-right: 0px;
        }

        @media #{$lg} {
            margin-right: 0px;
            grid-template-columns: 1fr 1.5fr;
        }

        @media #{$md,$xs} {
            margin-right: 0px;
            grid-template-columns: 1fr ;
        }
    }

    &-img {
        border-radius: 10px;
        height: 725px;
        margin-right: 40px;

        @media #{$lg,$md,$xs} {
            margin-right: 0px;
            height: 450px;
        }
    }

    &-feature-wrap {
        gap: 40px;

        @media #{$lg} {
            flex-wrap: wrap;
        }

        @media #{$md} {
            flex-wrap: nowrap;
        }

        @media #{$xs} {
            flex-wrap: wrap;
        }

        @media #{$sm} {
            flex-wrap: nowrap;
        }
    }

    &-feature {


        .icon {
            width: 120px;
            height: 120px;
            background: #D2DBF5;
            border-radius: 50%;
            font-size: 65px;
        }

        .title {
            font-size: 24px;
            line-height: 1.41;
            margin-bottom: 8px;
        }

        .disc {
            font-size: 16px;
            line-height: 26px;
            color: #4B535B;
        }

        &:hover {
            .icon {
                i {
                    animation: wobble-vertical 1s ease-in-out;
                }
            }
        }
    }

    &-right {
        padding-top: 30px;
    }

    &-content {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 60px;
        align-items: center;

        @media #{$xl,$lg} {
            gap: 30px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr ;
            gap: 40px;
        }

        @media #{$sm} {
            grid-template-columns: 1fr auto;
            gap: 60px;
        }
    }

    &-expri {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 150px;
        padding: 38px 0;
        border-radius: 95px;

        .number {
            font-size: 55px;
            color: var(--ftc-pr-2);
            line-height: 1;
            writing-mode: vertical-lr;

        }
        .disc {
            font-size: 19px;
            color: #fff;
            writing-mode: vertical-lr;
        }
    }

    &-img-2 {
        height: 475px;
        border-radius: 500px;
    }
    
}


/* 
    about-3-end
*/

/* 
    about-4-start
*/
.ftc-about-4 {
    &-scn {
        &-title {
            position: relative;
            z-index: 1;
            max-width: 805px;
            margin-left: auto;
            margin-right: auto;
        }

        &-btn {
            position: absolute;
            right: -250px;
            bottom: -20px;

            @media #{$xl,$lg,$md,$xs} {
                position: unset;
                margin-top: 40px;
            }
        }
    }

    &-content {
        position: relative;
        z-index: 1;
    }

    &-img {
        height: 720px;
    }
}



.ftc-skill {
    &-box {
        width: 480px;
        background: #F3F5F9;
        position: absolute;
        right: 0;
        top: 0;
        padding: 25px 25px;

        @media #{$xs} {
            width: 100%;
        }

        @media #{$sm} {
            width: 480px;
        }
        
        .box-title {
            font-size: 32px;
            line-height: 1.31;
            margin-bottom: 22px;
            text-shadow: 1px 4px 0px #BCC2D2;

            @media #{$xs} {
                font-size: 24px;
            }
    
            @media #{$sm} {
                font-size: 28px;
            }
        }
    }

    &-item {

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    
        .item-title {
            font-size: 16px;
            line-height: 26px;
            color: #646A7B;
            margin-bottom: 6px;
            display: flex;
            justify-content: space-between;
            gap: 15px;
            flex-wrap: wrap;
    
            .gd-color {
                background: linear-gradient(90deg, rgba(249,130,8,1) 9%, rgba(228,16,242,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    
        &-progress {
            &-bg {
                background: rgb(32 34 51 / 5%);
                height: 8px;
                border-radius: 100px;
                overflow: hidden;
                width: 100%;
                display: block;
                position: relative;
                z-index: 1;
            }
    
            display: inline-block;
            height: 100%;
            background: linear-gradient(90deg, rgba(249,130,8,1) 9%, rgba(228,16,242,1) 100%);
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 100px;
            transform-origin: left;
            transform: scaleX(0);
            transition: 2s var(--cube-2);

            &:is(.active) {
                transform: scaleX(1);
            }
        }
    
        &:nth-child(3) {
            .item-title .gd-color {
                background: linear-gradient(90deg, rgba(179,37,247,1) 9%, rgba(0,226,245,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .ftc-skill-item-progress {
                background: linear-gradient(90deg, rgba(179,37,247,1) 9%, rgba(0,226,245,1) 100%);
            }
        }
    
        &:nth-child(4) {
            .item-title .gd-color {
                background: linear-gradient(90deg, rgba(23,63,207,1) 9%, rgba(229,4,238,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .ftc-skill-item-progress {
                background: linear-gradient(90deg, rgba(23,63,207,1) 9%, rgba(229,4,238,1) 100%);
            }
        }
    }
}





/* 
    about-4-end
*/