 /* 
    cta-1-start
 */
 .ftc-cta-1 {
    &-content {
        gap: 30px;
        .title {
            font-size: 40px;
            line-height: 1.5;
            color: #1e1d1d;
            letter-spacing: -2px;

            @media #{$xs} {
                font-size: 32px;
            }
        }
    }
    &-social {
        gap: 10px 30px;

        @media #{$xs} {
            gap: 10px 15px;
        }
        
        .s-link {
            font-size: 20px;
            color: #1e1d1d;
            transition: 400ms var(--cube-1);


            .icon {
                display: inline-block;
                transform: translateX(10px);
                opacity: 0;
                transition: 400ms var(--cube-2);
            }

            &:hover {
                color: var(--ftc-pr-1);

                .icon {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }
        }
    }
 }
 /* 
    cta-1-end
 */