 /* 
    footer-1-start
 */

.ftc-footer-1 {

    &-area {
        background: #161616;
    }

    &-top {
        padding: 35px 0;
        gap: 35px;

        .title {
            font-size: 27px;
            margin-left: auto;

            @media #{$xs} {
                margin-left: unset;
            }
        }
    }

    &-line {
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        background: #313030;
        transition: 2s var(--cube-2);

        &:is(.has-origin-left) {
            transform-origin: left;
        }

        &:is(.has-origin-right) {
            transform-origin: right;
        }

        &:is(.active) {
            transform: scaleX(1);
        }
    }

    &-widget-wrap {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        gap: 50px 100px;

        @media #{$xl} {
            gap: 50px 30px;
        }

        @media #{$lg} {
            gap: 50px 30px;
            grid-template-columns: 2fr 1fr 1fr 1fr ;
        }

        @media #{$md} {
            gap: 50px 30px;
            grid-template-columns: 2fr 1fr 1fr ;
        }

        @media #{$xs} {
            gap: 50px 30px;
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            gap: 50px 30px;
            grid-template-columns: 2fr 1fr;
        }
    }

    &-widget {
        &-title {
            font-size: 25px;
            line-height: 1.4;
            margin-bottom: 15px;
        }
    }

    &-menu {

        li {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }

        .menu-link {
            font-size: 18px;
            color: #dcdcdc;
            display: inline-block;
            transition: 400ms var(--cube-1);
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                width: 0%;
                height: 100%;
                background-color: var(--ftc-pr-1);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                opacity: 10%;
                transition: 400ms var(--cube-1);
            }
            
 

            &:hover {
                color: var(--ftc-pr-1);
                transform: translateX(3px);
                &::after {
                    width: 100%;
                }
            }
        }

    }

    &-bottom {
        gap: 20px;
    }

    &-copyright {
        font-weight: 500;

        a {
            display: inline-block;
            transition: 400ms var(--cube-1);

            &:hover {
                color: var(--ftc-pr-1);
            }
        }
    }

} 

.ftc-social-link-1 {
    gap: 8px;

    .this-link {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        flex: 0 0 auto;
        font-size: 18px;
        color: #000;
        transition: 400ms var(--cube-1);

        &:hover {
            background-color: var(--ftc-pr-1);
            transform: scale(95%);
        }
    }
}


.ftc-newslatter-1 {
    position: relative;
    z-index: 1;

    input {
        width: 100%;
        height: 64px;
        border-radius: 30px;
        border: none;
        outline: none;
        padding-left: 20px;
        padding-right: 80px;
        font-size: 16px;
        color: #959595;
        font-family: var(--ftc-pr-font);
    }

    .this-btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 65px;
        height: 100%;
        background: var(--ftc-pr-1);
        border-radius: 0 30px 30px 0;
        font-size: 20px;
        color: #000;
        transition: 400ms var(--cube-1);
        
        &:hover {
            width: 70px;
        }
    }
}



 /* 
    footer-1-end
 */

/* 
footer-2-start
*/
.ftc-footer-2 {
    &-area {
        background: transparent;
        position: relative;
        z-index: 1;
        padding-top: 250px;
        margin-top: -170px;
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &-widget {
        &-wrap {
            display: grid;
            grid-template-columns: 2fr auto auto;
            gap: 50px 90px;

            @media #{$lg} {
                gap: 50px 60px;
            }

            @media #{$md} {
                grid-template-columns: 2fr 1fr;
            }

            @media #{$xs} {
                grid-template-columns: 1fr;
            }
        }

        &-title {
            font-size: 20px;
            margin-bottom: 17px;
        }

        .widget-disc {
            font-size: 20px;
            font-weight: 500;
            color: #d5d5d5;
            margin-bottom: 28px;
        }

        .footer-call-btn {
            font-size: 24px;
            color: #fff;
            line-height: 1;
            gap: 10px;
            transition: 400ms var(--cube-1);
            
            @media #{$lg,$md,$xs} {
                font-size: 20px;
            }

            i {
                font-size: 30px;
                display: inline-block;
            }

            &:hover {
                color: var(--ftc-pr-1);
                i {
                    animation: wobble-vertical 1s ease-in-out;
                }
            }
        }

        .hello {
            font-size: 30px;
            font-weight: 300;
            margin-bottom: 8px;
        }

        .contact-link {
            font-size: 40px;
            font-weight: 700;
            transition: 400ms var(--cube-1);
            margin-bottom: 30px;

            @media #{$lg,$md,$xs} {
                font-size: 30px;
            }
        }

        .footer-social {
            gap: 20px 30px;
            .social-link {
                font-size: 20px;
                font-weight: 700;
                color: #fff;
                gap: 10px;
                transition: 400ms var(--cube-1);

                @media #{$lg,$md,$xs} {
                    font-size: 18px;
                }

                i {
                    font-size: 25px;
                }

                &:hover {
                    color: var(--ftc-pr-1);
                    i {
                        animation: wobble-vertical 1s ease-in-out;
                    }
                }
        
            }
        }
        
        .ftc-footer-1-menu {
            li {
                position: relative;
                z-index: 1;

                &:not(:last-child) {
                    border-bottom: 1px solid #2b2b2b;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: auto;
                        height: 1px;
                        width: 0%;
                        right: 0;
                        background-color: var(--ftc-pr-1);
                        transition: 400ms var(--cube-2);
                    }
                }

                .menu-link {
                    font-size: 16px;
                    padding: 9px 0;

                    &::after {
                        display: none;
                    }
                }

                &:hover {
                    &::after  {
                        width: 100%;
                        left: 0;
                        right: auto;
                    }
                }
            }
        }


    }
    &-copyright {
        color: #fff;
        font-weight: 500;
        font-size: 17px;
    }
}





/* 
footer-2-end
*/