 /* 
    project-1-start
 */


.ftc-project-1 {
    &-area {
        position: relative;
        z-index: 1;
    }

    &-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &-scn-title {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    &-item {
        position: relative;
        z-index: 1;
        height: 550px;

        .item-content {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            border-radius: 0  30px 0 0;
            background: #fff;
            width: 56%;
            padding: 25px 30px 25px 40px;
            text-align: right;
            transform: translateX(-100%);
            transition: 500ms var(--cube-1);

            @media #{$xxl,$xl,$lg,$md,$xs} {
                width: 80%;
            }
        }

        .item-btn {
            display: inline-block;
            margin-left: auto;
            font-size: 22px;
            text-align: right;
            transition: 400ms var(--cube-1);
            line-height: 1;
            margin-bottom: 33px;

            &:hover {
                color: var(--ftc-pr-1);
            }
        }

        .item-title {
            font-size: 30px;
            transition: 400ms var(--cube-1);
            text-align: left;
            transform-origin: left;
            @media #{$xs} {
                font-size: 22px;
            }

            @media #{$sm} {
                font-size: 30px;
            }

            &:hover {
                color: var(--ftc-pr-1);
                transform: scaleX(97%);
           
            }
        }

        &:hover {
            .item-content {
                transform: translateX(0%);
            }
        }
    }

    &-slider {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;

        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    &:is(.swiper-slide-active) {
                        .ftc-project-1-item {
                            .item-content {
                                transform: translateX(0%);
                            }
                        }
                    }
                }
            }
        }
    }

    &-slider-btn {
        gap: 12px;
    }
}



.ftc-slider-btn-1 {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: 400ms var(--cube-1);

    i {
        display: inline-block;
        transition: 500ms var(--cube-2);
    }


    &:hover {

        animation: wobble-vertical 1s ease-in-out;

        background-color: var(--ftc-pr-1);
        border-color: transparent;
        // transform: scale(95%);

        // i {
        //     transform: rotateY(360deg);
        // }
    }

    &:is(.has-color-black) {
        border-color: #000;
        color: #000;

        &:hover {
            border-color: transparent;
        }
    }
}



 /* 
    project-1-end
 */

/* 
    project-2-start
*/
.ftc-project-2 {
    &-area {
        background-color: #14133D;
    }
    
    &-container {
        max-width: 1714px;
    }

    &-item-wrap {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1.5fr 1fr;

        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }
    }

    &-item {
        height: 615px;
        position: relative;
        z-index: 1;

        @media #{$lg,$md,$xs} {
            height: 500px;
        }

        .item-img {
            position: absolute;
            bottom: 0;
            height: calc(100% - 0px);
            width: 100%;
            left: 0;
            border-radius: 20px;
            z-index: 1;
            transition: 600ms var(--cube-2);
        }

        .item-subtitle {
            font-size: 20px;
            padding-left: 50px;
            position: relative;
            z-index: 1;
            margin-bottom: 13px;

            &::after {
                content: "";
                width: 0px;
                height: 2px;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                transition: 600ms var(--cube-2);
            }
        }

        .item-title {
            font-size: 55px;
            letter-spacing: -1px;
            max-width: 420px;
            transition: 300ms var(--cube-1);

            @media #{$xxl} {
                font-size: 50px;
            }

            @media #{$xl} {
                font-size: 40px;
            }

            @media #{$lg} {
                font-size: 30px;
            }

            @media #{$md} {
                font-size: 40px;
            }

            @media #{$xs} {
                font-size: 35px;
            }

            a {
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            &:hover {
                color: var(--ftc-pr-1);
                transform: scaleX(95%);
                transform-origin: left;
            }

        }

        &:hover {
            .item-img {
                height: calc(100% - 217px);

                @media #{$xl} {
                    height: calc(100% - 167px);
                }

                @media #{$lg} {
                    height: calc(100% - 137px);
                }

                @media #{$md} {
                    height: calc(100% - 157px);
                }

                @media #{$xs} {
                    height: calc(100% - 157px);
                }

                @media #{$sm} {
                    height: calc(100% - 157px);
                }
            }
            .item-subtitle {
    
                &::after {
                    width: 35px;
                }
            }
        }
    }
}



/* 
    project-2-end
*/